.label {
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  margin: 10px 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.filter {
  margin-bottom: 20px;
}

.filter input {
  padding: 8px;
}
