.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  padding: 8px;
  margin-bottom: 10px;
}

.form button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}
